# Local operating system files
.DS_Store
Thumbs.db

# Local configuration files
.env
.env.local
.env.*.local
.env.example
.env.production
# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
